[client]
port                    = 3306


[mysqld]
user                    = mysql
port                    = 3306
sql_mode                = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION



default-time-zone       = '+8:00'

[mysql]
